body
	text-align center
	color #DDD
	background #444
	font-family Arial

.botones
	width 100%
	a
		text-decoration none
		color #FF5D00
		padding 1em
		background #FDEBD6
		margin 0 0.5em 0 0.5em
		&:hover
			color #FC0000