bg = .ff83b5
color = .fff
sombra = .ff5c31

body
	background white
	font-family 'Source Sans Pro'
	color black
	margin 0
	padding 0
	transition all 1s
.texto
	border 2px dashed white
	border-radius 2em
	font-size 12em
	font-style italic
	letter-spacing -0.1em
	text-align center
	text-shadow 0.02em 0.05em sombra
	top 50%
	transition all 2s
	text-radius 5px
	&:after
	&:before
		content "-"