body {
  text-align: center;
  color: #ddd;
  background: #444;
  font-family: Arial;
}
.botones {
  width: 100%;
}
.botones a {
  text-decoration: none;
  color: #ff5d00;
  padding: 1em;
  background: #fdebd6;
  margin: 0 0.5em 0 0.5em;
}
.botones a:hover {
  color: #fc0000;
}
