body {
  background: #fff;
  font-family: 'Source Sans Pro';
  color: #000;
  margin: 0;
  padding: 0;
  transition: all 1s;
}
.texto {
  border: 2px dashed #fff;
  border-radius: 2em;
  font-size: 12em;
  font-style: italic;
  letter-spacing: -0.1em;
  text-align: center;
  text-shadow: 0.02em 0.05em #ff5c31;
  top: 50%;
  transition: all 2s;
  text-radius: 5px;
}
.texto:after,
.texto:before {
  content: "-";
}
